<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Shopping Cart</title>
    <link rel="stylesheet" href="/css/components/navbar.css">
    <link rel="stylesheet" href="/css/pages/cart.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <script src="/javaScript/navbar/navToggle.js" defer></script>
    <script src="/javaScript/navbar/profile-icon-dropdown.js" defer></script>
    <script src="/javaScript/updateSubtotal.js" defer></script>
</head>
<body>
    <%- include('./partials/navbar'); %>
    
    <main class="main-content-container">
        <div class="container">
            <div class="cart-container">
                <div class="title-wrapper"><h1>Your Cart</h1></div>
                <% if (locals.user) { %>
                    <% if (cartItems && cartItems.length > 0) { %>
                    <form action="/cart" method="post">
                        <div class="cart-items">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-header" colspan="2" scope="col">Product</th>
                                        <th class="quantity-header">Quantity</th>
                                        <th class="total-header">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% cartItems.forEach(item=> { %>
                                    <tr data-product-id="<%= item.product_id %>" data-weight-id="<%= item.weight_id %>">
                                        <td>
                                            <div class="product-thumbnail">
                                                <a href="">
                                                    <img src="<%= item.image_url %>" alt="">
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="product-details">
                                                <div class="product-title"><h3><%= item.name %></h3></div>
                                                <div class="product-weight"><h4>Weight: </h4> <%= item.weight %><%= item.unit %></div>
                                                <div class="product-flavor"><h4>Flavor: </h4> <%= item.category_name %></div>
                                                <div class="product-roast-lvl"><h4>Roast Level:</h4> Medium-Dark</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="quantity-wrapper">
                                                <div class="quantity-btn-container">
                                                    <button type="button" class="quantity-btn" aria-label="Decrease quantity">-</button>
                                                    <input type="number" class="quantity-input" value="<%= item.quantity %>" min="1">
                                                    <button type="button" class="quantity-btn" aria-label="Increase quantity">+</button>
                                                </div>
                                                <button class="del-btn removeButton" type="button" ><img src="/assets/icons/delete.svg" alt=""></button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="total-wrapper">
                                                <div class="total-amount">₱<%= (item.quantity * item.price).toFixed(2) %></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="cart-footer">
                        <div class="cart-content">
                            <div class="subtotal"><h4>Subtotal</h4><h2>₱<%= subtotal.toFixed(2) %> php</h2></div>
                            <p>Taxes and shipping calculated at checkout</p>
                            <form action="/cart/checkout" method="get" class="checkout-form">
                                <button class="checkout-btn" href="/checkout" type="submit">Check out</button>
                            </form>
                        </div>
                    </div>
                    <% } else { %>
                        <div class="empty-cart-message">
                            <p>Your cart is empty.</p>
                            <a href="/product" class="continue-shopping">Continue Shopping</a>
                        </div>
                    <% } %>
            </div>

            <% } else { %>
                <div class="login-prompt">
                    <p>Please <a href="/login">login</a> to view your cart.</p>
                </div>
            <% } %>
        </div>
    </main>

    <%- include('./partials/footer') %>
</body>
</html>