<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overview</title>
    <link rel="stylesheet" href="/css/components/navbar.css">
    <link rel="stylesheet" href="/css/pages/overview.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <script src="/javaScript/navbar/navToggle.js" defer></script>
    <script src="/javaScript/navbar/profile-icon-dropdown.js" defer></script>
</head>
<body>
    <%- include('./partials/navbar'); %>

    <section class="product-overview">
        <div class="container">
            <div class="product-content">
                <div class="product-thumbnail"><img src="<%= product.image_url.startsWith('/') ? product.image_url : '/' + product.image_url %>" alt="<%= product.name %>"></div>
                <div class="product-information">
                    <div class="product-title">
                        <h1><%= product.name %></h1>
                    </div>
                    <div class="product-review">
                        5 review
                    </div>
                    <div class="product-price"><%= product.price %> php</div>
                    <div class="product-description">
                        <p><%= product.description %></p>
                    </div>
                    <div class="product-variant-container">
                        <div class="product-weight-select">
                            <label for="weight">Weight</label>
                            <div class="weight-select" id="weight">100g</div>
                        </div>
                        <div class="product-quantity">
                            <label for="">Quantity</label>
                            <div class="quantity-btn-container">
                                <button class="quantity-btn" aria-label="Decrease quantity">-</button>
                                <input type="number" value="1" aria-label="Product quantity">
                                <button class="quantity-btn" aria-label="Increase quantity">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-container">
                        <form action="" method="post" class="form">
                            <div class="product-form-btn">
                                <button type="button">Add to cart</button>
                                <button type="button">Buy it now</button>
                            </div>
                        </form>
                    </div>
                    <div class="product-availability">Availability: <%= product.stock %> left in stock</div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./partials/footer'); %>

</body>
</html>