<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/components/navbar.css">
    <link rel="stylesheet" href="/css/components/card.css">
    <link rel="stylesheet" href="/css/components/footer.css">
    <link rel="stylesheet" href="/css/pages/product.css">
    <script src="/javaScript/navbar/navToggle.js" defer></script>
    <script src="/javaScript/navbar/profile-icon-dropdown.js" defer></script>
</head>
<body>
    <%- include('./partials/navbar'); %>

        <div class="main-container">
            <section class="products-section">
                <aside>
                    <div class="aside-container">
                        <div class="search">
                            <p>Search</p>
                            <input class="search-bar" type="search" name="product_search" id="">
                        </div>
                        <div class="categories">
                            <p>Categories</p>
                                <input type="checkbox" id="" name="" value="">
                                <label for=""> Coffee</label><br>
        
                                <input type="checkbox" id="" name="" value="">
                                <label for=""> Coffee</label><br>
        
                                <input type="checkbox" id="" name="" value="">
                                <label for=""> Coffee</label><br>
        
                                <input type="checkbox" id="" name="" value="">
                                <label for=""> Coffee</label><br>
                        </div>
                        <div class="sizes">
                            <p>Sizes</p>
                            <input type="checkbox" id="" name="" value="">
                            <label for=""> 100g</label><br>

                            <input type="checkbox" id="" name="" value="">
                            <label for=""> 500g</label><br>

                            <input type="checkbox" id="" name="" value="">
                            <label for=""> 1kg</label><br>
                        </div>
                    </div>
                </aside>
            <!--////////////-->
            <!--PRODUCT CARD-->
            <!--////////////-->
            <div class="product-cards-container">
                <% product.forEach(product=> { %>
                        <div class="card -m">
                        <a href="/product/overview/<%= encodeURIComponent(product.name) %>">
                            <div class="product-image">
                                <img src="<%= product.image_url %>" alt="<%= product.name %>">
                            </div>
                            <div class="product-title">
                                <%= product.name %>
                            </div>
                            <div class="product-price">
                                <%= product.price %> php
                            </div>
                        </a>
                            <div class="card-hover-icons">
                                <div class="icon-container">
                                    <div class="icon"><img src="/assets/icons/overview.svg" alt="Overview"></div>
                                    <div class="icon"><img src="/assets/icons/addtocart.svg" alt="Add to Cart"></div>
                                </div>
                                <div class="available-size-container">100g | 500g | 1000g</div>
                            </div>
                        </div>
                <% }) %>
            </div>
        </section>
    </div>

    <%- include('./partials/footer'); %>

</body>
</html>